
ul.navbars {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7ba9dc;
}

ul.navbars li {
  float: left;
}

ul.navbars li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbars li a:hover {
   background-color: #5c9de7;
  border-radius: 12px;
}